body{
	margin: 0 auto 0 auto;
	padding: 0 30px 0 30px;
	min-width: 250px;
	max-width: 100%;
	background-color: white;
}
h1{
	text-align: center;
	font-family: sans-serif;
	color: white;
	padding: 20px;
	border-radius: 10px;
	background: #458;
	font-weight: 100;
}
dl{
	font-family: sans-serif;
	background-color: #eeeeef;
	border-radius: 10px;
	color: black;
}
dt{
	padding: 10px;
	font-size: 1.2em;
	margin-top: 26px;
}
dd label{
	position: relative;
	line-height: 2.1em;
	margin-left: 0;
	padding: 5px 50px 5px 5px;
	transition: background-color 0.2s ease;	
	border-radius: 5px;
}
dd label:hover{
	background-color: #ddd;
	transition: background-color 0.2s ease;
}
dd label:hover span{
	background: url(radiohov.svg);
	background-size: contain;
}
input[type="radio"] {
	display: none;
}
input[type="radio"] + span{
	position: absolute;
	width: 25px;
	height: 25px;
	margin-left: -30px;
	margin-top: 2px;
	background: url(radiooff.svg);
	background-size: contain;
}
input[type="radio"]:checked + span{
	color: black;
	width: 25px;
	height: 25px;
	background: url(radioon.svg);
	background-size: contain;
}
dd{
	font-size: 1em;
}
#btn{
	width: 150px;
	height: 50px;
	display: block;
	margin: 0 auto 0 auto;
	background: #982206;
	border: 2px solid #982206;
	border-radius: 10px;
	font-size: 1.5em;
	color: white;
	transition: background 0.8s cubic-bezier(0.5,0.4,0.8,0.2), color 0.5s cubic-bezier(0.5,0.4,0.8,0);
}
#btn:hover{
	background: #fff;
	color: #982206;
	transition: background 0.4s ease-in, color 0.2s cubic-bezier(0.7,0.2,0.3,0.4);;
}
p{
	display: none;
	font-size: 3em;
	text-align: center;
	font-family: sans-serif;
	background: #458;
	color: white;
	border-radius: 10px;
	padding: 20px;
}
